/* *
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
* */

.megamenu {
  position: static;
}

.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
}

/* *
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
* */

code {
  color: #3F3844;
  background: #eaffca;
  padding: 0.1rem 0.2rem;
  border-radius: 0.2rem;
}

.text-uppercase {
  letter-spacing: 0.08em;
}

.display-4 .lead {
  color: #3F3844;
}

h1, p {
  font-family: 'Helvetica';
}

