body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
  background-color: #206a5d;
  color: #fff;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

i, span {
  display: inline-block;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #206a5d;
  color: #fff;
  transition: all 0.3s;
}

#sidebar.active {
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}

#sidebar.active .sidebar-header h3, #sidebar.active .CTAs, #sidebar.active .menu-title, #sidebar.active fa-angle-right {
  display: none;
}

#sidebar.active .sidebar-header strong {
  display: block;
}

#sidebar ul li a {
  text-align: left;
}

#sidebar.active ul li a {
  padding: 20px 10px;
  text-align: center;
  font-size: 0.85em;
}

#sidebar.active ul li a i {
  margin-right: 0;
  display: block;
  font-size: 1.8em;
  margin-bottom: 5px;
}

#sidebar.active ul ul a {
  padding: 10px !important;
}

#sidebar.active a[aria-expanded="false"]::before, #sidebar.active a[aria-expanded="true"]::before {
  top: auto;
  bottom: 5px;
  right: 50%;
  -webkit-transform: translateX(50%);
  -ms-transform: translateX(50%);
  transform: translateX(50%);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #206a5d;
}

#sidebar .sidebar-header strong {
  display: none;
  font-size: 1.8em;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #206a5d;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li a:hover {
  color: #206a5d;
  background: #fff;
}

#sidebar ul li a i {
  margin-right: 10px;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  background: #206a5d;
}

a[data-toggle="collapse"] {
  position: relative;
}

.menu-title[data-toggle="collapse"] {
  visibility: collapse;
  display: none;
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #206a5d;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #206a5d;
}

a.article, a.article:hover {
  background: #206a5d !important;
  color: #fff !important;
}

#content {
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  width: 100%;
}

@media (max-width: 768px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    margin-left: -80px !important;
  }
}

@media (max-width: 768px) {
  a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    top: auto;
    bottom: 5px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
  }
}

@media (max-width: 768px) {
  #sidebar.active {
    margin-left: 0 !important;
  }
}

@media (max-width: 768px) {
  #sidebar .sidebar-header h3, #sidebar .CTAs {
    display: none;
  }
}

@media (max-width: 768px) {
  #sidebar .sidebar-header strong {
    display: block;
  }
}

@media (max-width: 768px) {
  #sidebar ul li a {
    padding: 20px 10px;
  }
}

@media (max-width: 768px) {
  #sidebar ul li a span {
    font-size: 0.85em;
  }
}

@media (max-width: 768px) {
  #sidebar ul li a i {
    margin-right: 0;
    display: block;
  }
}

@media (max-width: 768px) {
  #sidebar ul ul a {
    padding: 10px !important;
  }
}

@media (max-width: 768px) {
  #sidebar ul li a i {
    font-size: 1.3em;
  }
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: 0;
  }
}

@media (max-width: 768px) {
  #sidebarCollapse span {
    display: none;
  }
}

